# Continuous Integration with Github Actions
name: Continuous Integration
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    defaults:
      run:
        # Ensures environment gets sourced right
        shell: bash -l {0}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: ["3.10", "3.11", "3.14"]
    env:
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
    
    steps:
    - uses: actions/checkout@v6
      name: Checkout

    # setup conda-forge with micromamba
    - name: Setup Python 
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        condarc: |
          channels:
            - conda-forge
        create-args: >-
          python=${{ env.PYTHON_VERSION }}
        environment-name: prod

    # run tests and generate coverage report
    - name: Run tests
      run: |
        coverage run -m pytest
        coverage xml

    # create and upload coverage report to codecov
    - name: Upload coverage to Codecov
      if: ${{ env.PYTHON_VERSION == '3.14' }}
      uses: codecov/codecov-action@v5
      with:
        files: coverage.xml
        fail_ci_if_error: true
